# These owners will be the default owners for everything in the repo.
*       @BenedictP

# Documentation
/docs/          @BenedictP
README.md       @BenedictP

# Core package
/packages/core/ @BenedictP

# React package
/packages/react/ @BenedictP

# CI/CD
/.github/       @BenedictP
